.train{
  padding-top: .6rem;
  height: 6.2rem;
  text-align: center;
  color: #fff;
  background: url("../../../assets/img/recommend/trainbg.png") no-repeat center/cover;
  box-sizing: border-box;
  h2{
    color: #fff;
    font-size: .35rem;
    font-weight: bold;
    margin-bottom: .3rem;
  }
  P{
    font-size: .2rem;
    margin-bottom: .1rem;
  }
}