.inculd{
  padding: .6rem 0;
  background-color: #ebebea;
  text-align: center;

  h2{
    font-size: .4rem;
    font-weight: bold;
    font-style: italic;
    color: #CCAC62;
  }
  .con {
    width: 5.3rem;
    margin: auto;
    img{
      width: 100%;
    }

  }

}