.footer{
  padding: .2rem .4rem;
  background-color: #2C2E30;

  i{
    color: #fff;
    margin-right: .01rem;
  }
  p{
    //line-height: 80px;
    margin-bottom: 0;
    color: #BCBCBC;
    font-size: .12rem;
  }
}