.values{
  padding: .35rem 0 .5rem;
  background-color: #E2E2E1;
  //height: 3.5rem;
  
  
  h2{
    font-size: .35rem;
    text-align: center;
  }
  .con{
    width: 5.8rem;
    height: 2.1rem;
    margin: auto ;

    img{
      width: 100%;
      height: 100%;
    }





  }

}